@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    --tw-bg-opacity: 0.2;
    background-color: hsla(var(--bc) / var(--tw-bg-opacity, 1));
    --tw-border-opacity: 0;
}

.custom-card-image  .card.image-full:before {
    border-radius: 0.5rem;
    opacity: 0.45;
}